<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.demo"
    android:versionCode="1"
    android:versionName="1.0" >
    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.example.demo" />
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />
    <uses-permission 
        android:name="android.permission.READ_CONTACTS"/>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
         <uses-library android:name="android.test.runner" />
        <activity
            android:name="com.example.demo.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.demo.test.TestUseActivity"
            android:label="test/hah1/hah2/TestUseActivity">
            <intent-filter>
                <action android:name="com.example.demo.demoaction"/>
            </intent-filter>
        </activity>   

        <activity android:name="com.example.demo.view.ViewTestActivity"
            android:label="view/ViewTestActivity">
            <intent-filter>
                <action android:name="com.example.demo.demoaction"/>
            </intent-filter>
        </activity>

        <activity android:name="com.example.demo.Nov.MergerCursorActivity"
            android:parentActivityName="com.example.demo.test.TestUseActivity"
            android:label="cursor/MergerCursorActivity">
            <intent-filter>
                <action android:name="com.example.demo.demoaction"/>
            </intent-filter>
            <meta-data
		        android:name="android.support.PARENT_ACTIVITY"
		        android:value="com.example.demo.test.TestUseActivity" />
        </activity>

        <activity android:name="com.example.demo.Nov.NotifyActivity"
            android:label="view/notification">
            <intent-filter>
                <action android:name="com.example.demo.demoaction"/>
            </intent-filter>
        </activity>

       <activity android:name="com.example.demo.Nov.MoreMessageActivity"
            android:label="view/notification">
       </activity>
       
       <service android:name="com.example.demo.Nov.MyService"
           ></service>
       
        <activity android:name="com.example.demo.view.VMViewActivity"
            android:label="view/VMView">
            <intent-filter>
                <action android:name="com.example.demo.demoaction"/>
            </intent-filter>
        </activity>
        
        
        <activity android:name="com.example.demo.view.AlphaBitmapActivity"
            android:label="graphics/alpha">
            <intent-filter>
                <action android:name="com.example.demo.demoaction"/>
            </intent-filter>
        </activity>
        <activity 
            android:name="com.example.demo.view.CustomTestViewActivity"
            android:hardwareAccelerated="false"
              android:label="view/curstomview1">
            <intent-filter>
                <action android:name="com.example.demo.demoaction"/>
            </intent-filter>
            </activity>
        <activity 
            android:name="com.example.demo.view.Sweep"
              android:label="view/sweep">
            <intent-filter>
                <action android:name="com.example.demo.demoaction"/>
            </intent-filter>
            </activity>  
         <activity 
            android:name="com.example.demo.view.RotationViewActivity"
              android:label="view/Roatation">
            <intent-filter>
                <action android:name="com.example.demo.demoaction"/>
            </intent-filter>
            </activity>  
            
         
         <activity 
            android:name="com.example.demo.view.ClipVIewActivity"
            android:hardwareAccelerated="false"
              android:label="view/clipView">
            <intent-filter>
                <action android:name="com.example.demo.demoaction"/>
            </intent-filter>
            </activity>  

       <activity 
            android:name="com.example.demo.Nov.ListFlipper"
             android:label="view/listflipper">
            <intent-filter>
                <action android:name="com.example.demo.demoaction"/>
            </intent-filter>
            </activity> 
            
              <activity 
            android:name="com.example.demo.view.MeasureText"
              android:label="view/MeasureText">
            <intent-filter>
                <action android:name="com.example.demo.demoaction"/>
            </intent-filter>
            </activity> 
       
       <activity 
            android:name="com.example.demo.view.ShapeDrawableActivity"
              android:label="view/shapeDrawable">
            <intent-filter>
                <action android:name="com.example.demo.demoaction"/>
            </intent-filter>
            </activity> 

       <activity 
            android:name="com.example.demo.view.FragmentPagerSupport"
              android:label="view/page1">
            <intent-filter>
                <action android:name="com.example.demo.demoaction"/>
            </intent-filter>
            </activity> 
            
       
       <activity 
            android:name="com.example.demo.view.ScrollViewActivity"
              android:label="view/scrollview">
            <intent-filter>
                <action android:name="com.example.demo.demoaction"/>
            </intent-filter>
            </activity> 

       <activity 
            android:name="com.example.demo.dec.Shape_Drawable_Activity"
              android:label="dec/shape_drawable">
            <intent-filter>
                <action android:name="com.example.demo.demoaction"/>
            </intent-filter>
            </activity> 


       <activity 
            android:name="com.example.demo.dec.Xfermodes"
              android:label="dec/Xfermodes">
            <intent-filter>
                <action android:name="com.example.demo.demoaction"/>
            </intent-filter>
            </activity> 
    </application>

</manifest>
