<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.demo"
    android:versionCode="1"
    android:versionName="1.0" >
    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.example.demo" />
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
         <uses-library android:name="android.test.runner" />
        <activity
            android:name="com.example.demo.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.demo.test.TestUseActivity"
            android:label="test/hah1/hah2/TestUseActivity">
            <intent-filter>
                <action android:name="com.example.demo.demoaction"/>
            </intent-filter>
        </activity>   

        <activity android:name="com.example.demo.view.ViewTestActivity"
            android:label="view/ViewTestActivity">
            <intent-filter>
                <action android:name="com.example.demo.demoaction"/>
            </intent-filter>
        </activity>

        <activity android:name="com.example.demo.Nov.MergerCursorActivity"
            android:parentActivityName="com.example.demo.test.TestUseActivity"
            android:label="cursor/MergerCursorActivity">
            <intent-filter>
                <action android:name="com.example.demo.demoaction"/>
            </intent-filter>
            <meta-data
		        android:name="android.support.PARENT_ACTIVITY"
		        android:value="com.example.demo.test.TestUseActivity" />
        </activity>

        <activity android:name="com.example.demo.Nov.NotifyActivity"
            android:label="view/notification">
            <intent-filter>
                <action android:name="com.example.demo.demoaction"/>
            </intent-filter>
        </activity>

       <activity android:name="com.example.demo.Nov.MoreMessageActivity"
            android:label="view/notification">
       </activity>
       
       <service android:name="com.example.demo.Nov.MyService"
           ></service>
       
        <activity android:name="com.example.demo.view.VMViewActivity"
            android:label="view/VMView">
            <intent-filter>
                <action android:name="com.example.demo.demoaction"/>
            </intent-filter>
        </activity>
        
        
        <activity android:name="com.example.demo.view.AlphaBitmapActivity"
            android:label="graphics/alpha">
            <intent-filter>
                <action android:name="com.example.demo.demoaction"/>
            </intent-filter>
        </activity>
        <activity 
            android:name="com.example.demo.view.CustomTestViewActivity"
            android:hardwareAccelerated="false"
              android:label="view/curstomview1">
            <intent-filter>
                <action android:name="com.example.demo.demoaction"/>
            </intent-filter>
            </activity>
        <activity 
            android:name="com.example.demo.view.Sweep"
              android:label="view/sweep">
            <intent-filter>
                <action android:name="com.example.demo.demoaction"/>
            </intent-filter>
            </activity>  
         <activity 
            android:name="com.example.demo.view.RotationViewActivity"
              android:label="view/Roatation">
            <intent-filter>
                <action android:name="com.example.demo.demoaction"/>
            </intent-filter>
            </activity>  
            
         
         <activity 
            android:name="com.example.demo.view.ClipVIewActivity"
            android:hardwareAccelerated="false"
              android:label="view/clipView">
            <intent-filter>
                <action android:name="com.example.demo.demoaction"/>
            </intent-filter>
            </activity>  

       <activity 
            android:name="com.example.demo.Nov.ListFlipper"
             android:label="view/listflipper">
            <intent-filter>
                <action android:name="com.example.demo.demoaction"/>
            </intent-filter>
            </activity> 
            
              <activity 
            android:name="com.example.demo.view.MeasureText"
              android:label="view/MeasureText">
            <intent-filter>
                <action android:name="com.example.demo.demoaction"/>
            </intent-filter>
            </activity> 
       
       <activity 
            android:name="com.example.demo.view.ShapeDrawableActivity"
              android:label="view/shapeDrawable">
            <intent-filter>
                <action android:name="com.example.demo.demoaction"/>
            </intent-filter>
            </activity> 

       <activity 
            android:name="com.example.demo.view.FragmentPagerSupport"
              android:label="view/page1">
            <intent-filter>
                <action android:name="com.example.demo.demoaction"/>
            </intent-filter>
            </activity> 
            
       
       <activity 
            android:name="com.example.demo.view.ScrollViewActivity"
              android:label="view/scrollview">
            <intent-filter>
                <action android:name="com.example.demo.demoaction"/>
            </intent-filter>
            </activity> 

       <activity 
            android:name="com.example.demo.dec.Shape_Drawable_Activity"
              android:label="dec/shape_drawable">
            <intent-filter>
                <action android:name="com.example.demo.demoaction"/>
            </intent-filter>
            </activity> 


       <activity 
            android:name="com.example.demo.dec.Xfermodes"
              android:label="dec/Xfermodes">
            <intent-filter>
                <action android:name="com.example.demo.demoaction"/>
            </intent-filter>
            </activity> 
            
       
             <activity  android:name="com.example.demo.dec.SurfaceView1Activity"
              android:label="dec/SurfaceView1Activity">
            <intent-filter>
                <action android:name="com.example.demo.demoaction"/>
            </intent-filter>
            </activity> 
            
             <activity  android:name="com.example.demo.dec.SurfaceView2Activity"
              android:label="dec/SurfaceView2Activity">
            <intent-filter>
                <action android:name="com.example.demo.demoaction"/>
            </intent-filter>
            </activity> 
            
           <activity  android:name="com.example.demo.dec.SurfaceView3Activity"
              android:label="dec/SurfaceView3Activity">
            <intent-filter>
                <action android:name="com.example.demo.demoaction"/>
            </intent-filter>
            </activity> 
            
            <activity  android:name="com.example.demo.dec.SurfaceView4Activity"
              android:label="dec/SurfaceView4Activity">
            <intent-filter>
                <action android:name="com.example.demo.demoaction"/>
            </intent-filter>
            </activity> 
            
            <activity  android:name="com.example.demo.dec.SurfaceView5Activity"
              android:label="dec/SurfaceView5Activity">
            <intent-filter>
                <action android:name="com.example.demo.demoaction"/>
            </intent-filter>
            </activity> 
            

            <activity  android:name="com.example.demo.dec.GradientDrawable"
              android:label="dec/gradient_drawable2">
            <intent-filter>
                <action android:name="com.example.demo.demoaction"/>
            </intent-filter>
            </activity> 
            


            <activity  android:name="com.example.demo.dec.SurfaceViewActivity21"
              android:label="dec/surfaceview_21">
            <intent-filter>
                <action android:name="com.example.demo.demoaction"/>
            </intent-filter>
            </activity> 
            
           <activity  android:name="com.example.demo.dec.SurfaceViewActivity22"
              android:label="dec/surfaceview_22">
            <intent-filter>
                <action android:name="com.example.demo.demoaction"/>
            </intent-filter>
            </activity> 
            
           
           <activity  android:name="com.example.demo.dec.DensityActivity"
              android:label="dec/density">
            <intent-filter>
                <action android:name="com.example.demo.demoaction"/>
            </intent-filter>
          </activity> 
          
          <activity  android:name="com.example.demo.jan.FingerPaint"
              android:label="jan/fingerpaint">
            <intent-filter>
                <action android:name="com.example.demo.demoaction"/>
            </intent-filter>
          </activity> 
          
          
          <activity  android:name="com.example.demo.jan.ColorActivity"
              android:label="jan/coloractivity">
            <intent-filter>
                <action android:name="com.example.demo.demoaction"/>
            </intent-filter>
          </activity> 

          <activity  android:name="com.example.demo.feb.AnimationSeeking"
              android:label="feb/AnimationSeeking">
            <intent-filter>
                <action android:name="com.example.demo.demoaction"/>
            </intent-filter>
          </activity> 

          <activity  android:name="com.example.demo.feb.PreferenceHeader"
              android:label="feb/PreferenceHeader">
            <intent-filter>
                <action android:name="com.example.demo.demoaction"/>
            </intent-filter>
          </activity> 
          
          <activity  android:name="com.example.demo.feb.AnimationLoadding"
              android:label="feb/AnimationLoadding">
            <intent-filter>
                <action android:name="com.example.demo.demoaction"/>
            </intent-filter>
          </activity>

          <activity  android:name="com.example.demo.feb.ReversingAnimation"
              android:label="feb/ReversingAnimation">
            <intent-filter>
                <action android:name="com.example.demo.demoaction"/>
            </intent-filter>
          </activity>

          <activity  android:name="com.example.demo.feb.MultiPropertyAnimation"
              android:label="feb/MultiPropertyAnimation">
            <intent-filter>
                <action android:name="com.example.demo.demoaction"/>
            </intent-filter>
          </activity>
          <activity  android:name="com.example.demo.feb.LayoutAnimationsByDefault"
              android:label="feb/LayoutAnimationsByDefault">
            <intent-filter>
                <action android:name="com.example.demo.demoaction"/>
            </intent-filter>
          </activity>
          <activity  android:name="com.example.demo.feb.BouncingBalls"
              android:label="feb/BouncingBalls">
            <intent-filter>
                <action android:name="com.example.demo.demoaction"/>
            </intent-filter>
          </activity>
          <activity  android:name="com.example.demo.feb.NetworkActivity"
              android:label="feb/NetworkActivity">
            <intent-filter>
                <action android:name="com.example.demo.demoaction"/>
            </intent-filter>
          </activity>
          <activity  android:name="com.example.demo.feb.SettingsActivity"
              android:label="Setting">
          </activity>
          <activity  android:name="com.example.demo.feb.AnimatorEvents"
              android:label="feb/AnimatorEvents"
              android:theme="@android:style/Theme.Black">
            <intent-filter>
                <action android:name="com.example.demo.demoaction"/>
            </intent-filter>
          </activity>
          <activity  android:name="com.example.demo.feb.LayoutAnimationsHideShow"
              android:label="feb/LayoutAnimationsHideShow">
            <intent-filter>
                <action android:name="com.example.demo.demoaction"/>
            </intent-filter>
          </activity>
          <activity  android:name="com.example.demo.feb.bitmapfun.ImageGridActivity"
              android:label="feb/bitmapFun">
            <intent-filter>
                <action android:name="com.example.demo.demoaction"/>
            </intent-filter>
          </activity>

        <!--new -->
        <activity android:name="com.example.next_year2014.WebViewTestActivity"
            android:label="new/07/WebViewtest">
            <intent-filter>
                <action android:name="com.example.demo.demoaction"/>
            </intent-filter>
        </activity>

        <activity android:name="com.example.next_year2014._29_DrawView1Activity"
            android:label="new/07/drawview">
            <intent-filter>
                <action android:name="com.example.demo.demoaction"/>
            </intent-filter>
        </activity>

        <activity android:name="com.example.next_year2014.MyAnimationActivity"
            android:label="new/07/myanimation1">
            <intent-filter>
                <action android:name="com.example.demo.demoaction"/>
            </intent-filter>
        </activity>
        <activity android:name="com.example.next_year2014.YoutubeActivity"
            android:label="new/07/youtube_4_viewDraghelper">
            <intent-filter>
                <action android:name="com.example.demo.demoaction"/>
            </intent-filter>
        </activity>

        <activity android:name="com.example.next_year2014.ShellActivity"
            android:label="new/08/shellActivity">
            <intent-filter>
                <action android:name="com.example.demo.demoaction"/>
            </intent-filter>
        </activity>

        <activity android:name="com.example.next_year2014.ImageScaleTypeActivit"
            android:label="new/08/scaleTypeActivity">
            <intent-filter>
                <action android:name="com.example.demo.demoaction"/>
            </intent-filter>
        </activity>

        <activity android:name="com.example.next_year2014.TouchEventActivity"
            android:label="new/08/TouchEventActivity">
            <intent-filter>
                <action android:name="com.example.demo.demoaction"/>
            </intent-filter>
        </activity>

        <activity android:name="com.example.next_year2014.ViewDragHelperDemo1"
            android:label="new/08/ViewDragHelperDemo1">
            <intent-filter>
                <action android:name="com.example.demo.demoaction"/>
            </intent-filter>
        </activity>

        <activity android:name="com.example.next_year2014.NotifactionActivity"
            android:label="new/08/notification">
            <intent-filter>
                <action android:name="com.example.demo.demoaction"/>
            </intent-filter>
        </activity>

        <activity android:name="com.example.next2_09.SystemUIActivity"
            android:label="09/systemui01">
            <intent-filter>
                <action android:name="com.example.demo.demoaction"/>
            </intent-filter>
        </activity>

        <activity android:name="com.example.volley.Volley1"
            android:label="09/volley1">
            <intent-filter>
                <action android:name="com.example.demo.demoaction"/>
            </intent-filter>
        </activity>

        <activity android:name="com.example.volley.Volley2"
            android:label="09/volley2">
            <intent-filter>
                <action android:name="com.example.demo.demoaction"/>
            </intent-filter>
        </activity>

        <activity android:name="com.example.volley.Volley3"
            android:label="09/volley3">
            <intent-filter>
                <action android:name="com.example.demo.demoaction"/>
            </intent-filter>
        </activity>

        <activity android:name="com.example.volley.Volley4"
            android:label="09/volley4">
            <intent-filter>
                <action android:name="com.example.demo.demoaction"/>
            </intent-filter>
        </activity>

        <activity android:name="com.last201409.NovelTest"
            android:label="09/noveltest">
            <intent-filter>
                <action android:name="com.example.demo.demoaction"/>
            </intent-filter>
        </activity>

        <activity android:name="com.last201409.ActivityTest"
            android:label="09/ActivityTest">
            <intent-filter>
                <action android:name="com.example.demo.demoaction"/>
            </intent-filter>
        </activity>

        <activity android:name="com.example.volley.AVOSDemo1"
            android:label="09/AVOSDemo1">
            <intent-filter>
                <action android:name="com.example.demo.demoaction"/>
            </intent-filter>
        </activity>

        <activity android:name="com.last201409.DeviceIdActivity"
            android:label="09/devicetest">
            <intent-filter>
                <action android:name="com.example.demo.demoaction"/>
            </intent-filter>
        </activity>

        <activity android:name="com.example.volley.LVolley1"
            android:label="09/LVolley1">
            <intent-filter>
                <action android:name="com.example.demo.demoaction"/>
            </intent-filter>
        </activity>

        <activity android:name="com.example.volley.LVolley2_CusImageView"
            android:label="09/cusImageView">
            <intent-filter>
                <action android:name="com.example.demo.demoaction"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
